<button id="falcon-aid-is-enable-btn" num-flag="0" enable-flag="0" {{action "setAidEnabled"}}>enable aid</button>
<div id="falcon-aid-show-content" class="composer-popup hidden similar-topics ember-view" >
  <h3>{{i18n 'composer.similar_topics'}}</h3>

  <div id="falcon-aid-show-content-topics" class="ember-view">

  </div>
</div>

